#__next {
    background-attachment: fixed;
    background-image: url('/assets/image/background.svg');
    background-size: cover;
    background-position: bottom left;
    background-repeat: repeat;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.text-blend {
    color: rgb(0, 255, 255);
    mix-blend-mode: difference;
}