.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    background-color: #f9f3eb;
    padding-top: calc(1rem + var(--spacing) * 2);
    padding-bottom: calc(1rem + var(--spacing) * 2);
}

footer {
    p {
        margin: 0;
    }
}