@import "@fontsource/merriweather";
@import "@fontsource-variable/mulish";

:root {
    --color-darkBlue: #335a84;
    --color-lightBlue: #698eb6;
    --color-red: #5d3137;
    --color-brightRed: #a4646c;
    --color-white: white;
    --font-heading: 'Merriweather', sans-serif;
    --font-body: 'Mulish Variable', sans-serif;
}

$govuk-brand-colour: var(--color-darkBlue);
$govuk-font-family: 'Merriweather', sans-serif;
@import "node_modules/govuk-frontend/govuk/all.scss";

section:first-of-type {
    margin-top: 2rem;
}

.govuk-header {
    background: var(--color-darkBlue);
    border-bottom: 0;
    padding: 2rem 0 2rem 0;
}

.govuk-header__logo {
    margin-bottom: 0;
}

.govuk-header__container {
    border-bottom: 0;
}

.govuk-footer {
    border-top: 10px solid var(--color-darkBlue);
}

.govuk-body,
.govuk-body-m,
.js-enabled .govuk-accordion__show-all,
.govuk-accordion__section-toggle-text {
    font-family: var(--font-body);
}

.homepage-header {
    background-color: var(--color-darkBlue);
    padding-bottom: 28px;
    padding-top: 20px;
    font-family: var(--font-heading);
}

.govuk-footer {
    background-color: var(--color-white);
}

@media print {
    .homepage-header {
        font-family: sans-serif
    }
}

@media (min-width: 48.0625em) {
    .homepage-header {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}

.homepage-header__title {
    font-weight: 700;
    color: var(--color-white);
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.2;
    padding-bottom: 8px;
    margin: 0
}

@media (min-width: 40.0625em) {
    .homepage-header__title {
        font-size: 60px;
        font-size: 3.75rem;
        padding-bottom: 10px
    }
}

@media (min-width: 48.0625em) {
    .homepage-header__title {
        font-size: 64px;
        font-size: 4rem
    }
}

.homepage-header__intro {
    font-weight: 700;
    color: var(--color-white);
    font-size: 40px;
    font-size: 2.5rem;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.07;
    display: block
}

@media (min-width: 40.0625em) {
    .homepage-header__intro {
        font-size: 60px;
        font-size: 3.75rem
    }
}

@media (min-width: 48.0625em) {
    .homepage-header__intro {
        font-size: 64px;
        font-size: 4rem;
    }
}