@import "node_modules/vanilla-framework/index";
@include vanilla;

:root {
    --color-red: indianred;
    --color-black: #151f28;
    --color-white: #ffffff;
    --color-pink: #f08eb1;
    --color-teal: #66c2cd;
    --color-orange: #ffb703;
    --color-creamWhite: #fbf6ea;
    --color-hotPink: #de0265;
}

a:focus {
    outline: 3px dashed var(--color-black);
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.skip-to-content {
    color: var(--color-black);
    font-weight: 600;
    padding: 5px 10px;
    position: absolute;
    right: 50%;
    margin-top: 1rem;
    z-index: 100;
    font-size: 1rem;
    margin-inline: auto;
    text-decoration: none;
    transform: translateY(-300%);
    transition: transform 0.25s ease-in;

    &:focus {
        transform: translateY(0%);
    }
}

.is-paper {
    background-color: var(--color-creamWhite);
}

[class*="p-strip"].is-deep {
    padding: 2rem 0;
}

.u-fixed-width:first-child {
    padding-top: 2rem;
}