@font-face {
    font-family: 'arno';
    src: url('../assets/fonts/ArnoPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'optima';
    src: url('../assets/fonts/OptimaNovaLTProDemi.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-red: #a94c4c;
    --color-black: #333333;
    --color-white: #ffffff;
    --font-heading: 'arno', sans-serif;
    --font-body: 'arno', sans-serif;
}

$govuk-brand-colour: var(--color-black);
$govuk-font-family: 'arno', sans-serif;
@import "node_modules/govuk-frontend/govuk/all.scss";

hr {
    color: var(--color-black);
    border-top-width: 3px;
    border-top-color: var(--color-black);
    width: 75px;
    margin-left: 0px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.govuk-skip-link {
    font-family: var(--font-body);
    font-size: 16pt;
}

.govuk-body,
.govuk-body-m,
.js-enabled .govuk-accordion__show-all,
.govuk-accordion__section-toggle-text {
    font-family: var(--font-body);
    font-size: 16pt;
}

.js-enabled .govuk-accordion__show-all,
.js-enabled .govuk-accordion__section-toggle {
    color: var(--color-red);
}

.govuk-accordion__section-button {
    font-size: 18pt;
}

.govuk-body {
    font-size: 16pt;
    line-height: 1.5;
}

.govuk-header {
    background: var(--color-white);
    border-bottom: 0;
    padding: 2rem 0 2rem 0;

    &__logo {
        margin-bottom: 0;
    }

    &__container {
        border-bottom: 0;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-black);
    }

    &__link:hover {
        color: var(--color-red);
    }
}

.govuk-heading-l {
    font-size: 20pt;
    font-family: 'optima', sans-serif;
}

.govuk-footer {
    background-color: var(--color-white);
    border-top: 10px solid var(--color-white);
    font-size: 16pt;

    &__link:hover {
        color: var(--color-red);
    }
}

.homepage-header {
    background-color: var(--color-white);
    padding-bottom: 28px;
    padding-top: 20px;
    font-family: var(--font-heading);

    &__title {
        font-weight: 700;
        color: var(--color-black);
        line-height: 1.2;
        padding-bottom: 8px;
        margin: 0
    }

    &__intro {
        font-size: 36pt;
        font-weight: 700;
        color: var(--color-black);
        margin: 0;
        padding-top: 40px;
        padding-bottom: 10px;
        line-height: 1.07;
        display: block;

        &__author {
            font-size: 16pt;
            display: flex;
            justify-content: end;
            align-items: end;
        }
    }
}

@media print {
    .homepage-header {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .homepage-header__title {
        padding-bottom: 10px
    }
}

@media (min-width: 48.0625em) {
    .homepage-header {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}