section {
    nav {
        background-color: unset;
        box-shadow: unset;
    }

    div {
        display: contents;

        ul {
            padding: 0;
            margin: 0;

            li {
                div {
                    justify-content: flex-start;
                }
            }
        }
    }
}

#ProfessionalLinks {
    h2 {
        margin: 0;
    }
}

#ProfessionalExperiences {
    ul {
        padding: 0;

        li {
            small {
                margin-left: 2rem;
            }

            ul {
                padding: 0;
            }

            .summary,
            .skills {
                display: block;
                margin-left: 2rem;

                small {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .container {
        padding: 2.5rem;
    }
}

@media (min-width: 768px) {
    section {
        div {
            ul {
                display: flex;
                justify-content: flex-start;

                li {
                    text-align: center;
                }
            }
        }
    }
}