nav {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);

    div {
        display: flex;
        justify-content: flex-start;

        ul {
            li {
                h1 {
                    margin: 0;
                }

                div {
                    figure {
                        margin: 0;

                        ul {
                            margin: 0;

                            li {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}